* {
  box-sizing: border-box;
}

:root {
  --primary: #f277a5;
  --navbar-height: 72px;
}

html {
  scroll-behavior: smooth;
  font-family: "Courier New", Courier, monospace;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}
